In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('airbnb_listing_train.csv')

In [3]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'price'],
      dtype='object')

In [4]:
df.isna().sum()

id                                    0
name                                 22
host_id                               0
host_name                             8
neighbourhood_group               12901
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
minimum_nights                        0
number_of_reviews                     0
last_review                        1596
reviews_per_month                  1596
calculated_host_listings_count        0
availability_365                      0
price                                 0
dtype: int64

In [5]:
df.drop(['id', 'name', 'host_id','neighbourhood_group','number_of_reviews', 'last_review', 'reviews_per_month'],1,inplace=True)

C:\Users\pavan\AppData\Local\Temp\ipykernel_17252\2068178271.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['id', 'name', 'host_id','neighbourhood_group','number_of_reviews', 'last_review', 'reviews_per_month'],1,inplace=True)

In [6]:
df.dropna(inplace=True)

In [7]:
df.isna().sum()

host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
minimum_nights                    0
calculated_host_listings_count    0
availability_365                  0
price                             0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12893 entries, 0 to 12900
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   host_name                       12893 non-null  object
 1   neighbourhood                   12893 non-null  object
 2   latitude                        12893 non-null  float64
 3   longitude                       12893 non-null  float64
 4   room_type                       12893 non-null  object
 5   minimum_nights                  12893 non-null  int64
 6   calculated_host_listings_count  12893 non-null  int64
 7   availability_365                12893 non-null  int64
 8   price                           12893 non-null  int64
dtypes: float64(2), int64(4), object(3)
memory usage: 1007.3+ KB

In [9]:
df['price'].sort_values()

9351        6
1887       10
480        12
7810       19
2778       20
         ...
10029    7000
12885    7000
1657     7000
6023     7550
12839    9000
Name: price, Length: 12893, dtype: int64

In [10]:
l=list(df.groupby('host_name').mean().sort_values(by='price').reset_index()['host_name'])

In [11]:
d_host={l: number for l, number in zip(l, [i for i in range(len(l)+1)])}

In [12]:
df['host_name']=df['host_name'].map(d_host)

In [13]:
l2=list(df.groupby('room_type').mean().sort_values(by='price').reset_index()['room_type'])
d_room={l2: number for l2, number in zip(l2, [i for i in range(len(l2)+1)])}

In [14]:
df['room_type']=df['room_type'].map(d_room)

In [15]:
l3=list(df.groupby('neighbourhood').mean().sort_values(by='price').reset_index()['neighbourhood'])
d_neighbour={l3: number for l3, number in zip(l3, [i for i in range(len(l3)+1)])}

In [16]:
df['neighbourhood']=df['neighbourhood'].map(d_neighbour)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
to_bescaled=['host_name', 'neighbourhood', 'room_type','minimum_nights', 'calculated_host_listings_count', 'availability_365']
df[to_bescaled]=sc.fit_transform(df[to_bescaled])

In [18]:
df

,host_name,neighbourhood,latitude,longitude,room_type,minimum_nights,calculated_host_listings_count,availability_365,price
0,0.433832,0.379108,52.35368,4.90177,0.360353,-0.035689,-0.189427,-0.568275,220
1,-0.588609,-0.217965,52.35728,4.92052,0.360353,0.030290,-0.189427,-0.568275,110
2,0.814102,1.374231,52.37582,4.89850,0.360353,-0.101668,-0.189427,-0.503433,100
3,-0.552259,-0.018941,52.37792,4.87300,0.360353,-0.035689,-0.189427,-0.568275,130
4,-1.058354,-0.018941,52.38051,4.87493,-1.723069,-0.101668,-0.189427,-0.345960,90
...,...,...,...,...,...,...,...,...,...
12896,-0.141233,-0.416990,52.37194,4.84965,0.360353,-0.167647,-0.189427,0.246882,65
12897,1.177595,0.578133,52.36263,4.98031,0.360353,0.228227,-0.189427,2.738670,160
12898,0.593210,0.379108,52.35719,4.90009,0.360353,-0.035689,-0.189427,-0.568275,180
12899,0.289367,0.976182,52.34855,4.85105,0.360353,-0.101668,-0.189427,-0.568275,136
12900,1.693942,1.175207,52.35865,4.89795,4.527197,0.096269,1.476296,2.812775,337

In [19]:
x=df.drop('price',1)
y=df['price']

C:\Users\pavan\AppData\Local\Temp\ipykernel_17252\2222881566.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x=df.drop('price',1)

In [20]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=42)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

lin_model=LinearRegression()
lin_model.fit(xtrain,ytrain)
train_pred=lin_model.predict(xtrain)
test_pred=lin_model.predict(xtest)
print('-'*50)
print('Train acc',r2_score(ytrain,train_pred))
print('Test acc',r2_score(ytest,test_pred))
print('-'*50)

--------------------------------------------------
Train acc 0.10563509484903644
Test acc 0.10465706331498903
--------------------------------------------------

In [22]:
from sklearn.linear_model import Lasso

model=Lasso()
model.fit(xtrain,ytrain)
train_pred=model.predict(xtrain)
test_pred=model.predict(xtest)
print('-'*50)
print('Train acc',r2_score(ytrain,train_pred))
print('Test acc',r2_score(ytest,test_pred))
print('-'*50)

--------------------------------------------------
Train acc 0.10546887965207707
Test acc 0.10572430472643213
--------------------------------------------------

In [23]:
from sklearn.linear_model import Ridge

model=Ridge()
model.fit(xtrain,ytrain)
train_pred=model.predict(xtrain)
test_pred=model.predict(xtest)
print('-'*50)
print('Train acc',r2_score(ytrain,train_pred))
print('Test acc',r2_score(ytest,test_pred))
print('-'*50)

--------------------------------------------------
Train acc 0.10563335308081478
Test acc 0.10466558992149733
--------------------------------------------------

In [24]:
from sklearn.linear_model import ElasticNet

model=ElasticNet()
model.fit(xtrain,ytrain)
train_pred=model.predict(xtrain)
test_pred=model.predict(xtest)
print('-'*50)
print('Train acc',r2_score(ytrain,train_pred))
print('Test acc',r2_score(ytest,test_pred))
print('-'*50)

--------------------------------------------------
Train acc 0.09631234321192861
Test acc 0.10240841592195493
--------------------------------------------------