In [1]:
import pandas as pd

In [2]:
d={'Model':['GO ','GO PLUS','REDIGO'],
  'Year':['2016','2016','2017',],
  'Transmission': ['Manual','AMT','Manual']}
df=pd.DataFrame(d)

In [3]:
df

     Model  Year Transmission
0      GO   2016       Manual
1  GO PLUS  2016          AMT
2   REDIGO  2017       Manual

In [4]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [5]:
ohe=OneHotEncoder()
steps=[('Encoder',ohe)]

In [6]:
categorical_cols = ['Model','Transmission']

In [7]:
pipe = Pipeline(steps)

In [8]:
full_pipeline = ColumnTransformer([
                   ('cat_transform', pipe, categorical_cols)])

full_pipeline.fit_transform(df)

array([[1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0.],
       [0., 0., 1., 0., 1.]])

In [9]:
full_pipeline

ColumnTransformer(transformers=[('cat_transform',
                                 Pipeline(steps=[('Encoder', OneHotEncoder())]),
                                 ['Model', 'Transmission'])])

In [10]:
d2={'Model':['GO ','GO PLUS','GO TO','REDI GO'],
  'Year':['2016','2016','2014','2017'],
  'Transmission': ['Manual','AMT','Manual','Manual']}
df2=pd.DataFrame(d2)

In [11]:
df2

     Model  Year Transmission
0      GO   2016       Manual
1  GO PLUS  2016          AMT
2    GO TO  2014       Manual
3  REDI GO  2017       Manual

In [12]:
full_pipeline.fit_transform(df2)

array([[1., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 1.],
       [0., 0., 0., 1., 0., 1.]])

In [13]:
# This is what i was generally expecting , 
# like OHE all it does is categorcial to binary transformation and it has nothing to do with the entry names
# while i was doing it the same on friday i got this error

In [14]:
#valueerror: found unknown categories ['GO TO'] in column 0 during transform one hot encoder